<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>OnlineProject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>Admin.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>LogoutServ</display-name>
		<servlet-name>LogoutServ</servlet-name>
		<servlet-class>com.hcl.servlet.register.LogoutServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServ</servlet-name>
		<url-pattern>/LogoutServ</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FlightController</display-name>
		<servlet-name>FlightController</servlet-name>
		<servlet-class>com.hcl.flights.FlightController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlightController</servlet-name>
		<url-pattern>/FlightController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BookingController</display-name>
		<servlet-name>BookingController</servlet-name>
		<servlet-class>com.hcl.controller.BookingController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookingController</servlet-name>
		<url-pattern>/BookingController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CheckServ</display-name>
		<servlet-name>CheckServ</servlet-name>
		<servlet-class>com.hcl.servlets.CheckServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckServ</servlet-name>
		<url-pattern>/CheckServ</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Success</display-name>
		<servlet-name>Success</servlet-name>
		<servlet-class>com.hcl.servlets.Success</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Success</servlet-name>
		<url-pattern>/Success</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserControllerServlet</display-name>
		<servlet-name>UserControllerServlet</servlet-name>
		<servlet-class>com.hcl.servlets.UserControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerServlet</servlet-name>
		<url-pattern>/UserControllerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Admin</display-name>
		<servlet-name>Admin</servlet-name>
		<servlet-class>AdminRights.Admin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/Admin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminServ</display-name>
		<servlet-name>AdminServ</servlet-name>
		<servlet-class>AdminServlet.AdminServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServ</servlet-name>
		<url-pattern>/AdminServ</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BusAdd</display-name>
		<servlet-name>BusAdd</servlet-name>
		<servlet-class>com.hcl.servlets.BusAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BusAdd</servlet-name>
		<url-pattern>/BusAdd</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BusUpdate</display-name>
		<servlet-name>BusUpdate</servlet-name>
		<servlet-class>com.hcl.servlets.BusUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BusUpdate</servlet-name>
		<url-pattern>/BusUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FinalBus</display-name>
		<servlet-name>FinalBus</servlet-name>
		<servlet-class>com.hcl.servlets.FinalBus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FinalBus</servlet-name>
		<url-pattern>/FinalBus</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateTheServlet</display-name>
		<servlet-name>UpdateTheServlet</servlet-name>
		<servlet-class>com.hcl.servlets.UpdateTheServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateTheServlet</servlet-name>
		<url-pattern>/UpdateTheServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletUpdate</display-name>
		<servlet-name>ServletUpdate</servlet-name>
		<servlet-class>com.hcl.servlets.ServletUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletUpdate</servlet-name>
		<url-pattern>/ServletUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteBus</display-name>
		<servlet-name>DeleteBus</servlet-name>
		<servlet-class>com.hcl.servlets.DeleteBus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteBus</servlet-name>
		<url-pattern>/DeleteBus</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HotelController</display-name>
		<servlet-name>HotelController</servlet-name>
		<servlet-class>com.hcl.hotel.HotelController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HotelController</servlet-name>
		<url-pattern>/HotelController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HotelShowControl</display-name>
		<servlet-name>HotelShowControl</servlet-name>
		<servlet-class>com.hcl.controller.HotelShowControl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HotelShowControl</servlet-name>
		<url-pattern>/HotelShowControl</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserFeedbackController</display-name>
		<servlet-name>UserFeedbackController</servlet-name>
		<servlet-class>com.hcl.feedback.UserFeedbackController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserFeedbackController</servlet-name>
		<url-pattern>/UserFeedbackController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserController</display-name>
		<servlet-name>UserController</servlet-name>
		<servlet-class>com.hcl.usercrediantials.UserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserController</servlet-name>
		<url-pattern>/UserController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BikeController</display-name>
		<servlet-name>BikeController</servlet-name>
		<servlet-class>com.hcl.bikes.BikeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BikeController</servlet-name>
		<url-pattern>/BikeController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewFlightControl</display-name>
		<servlet-name>ViewFlightControl</servlet-name>
		<servlet-class>com.hcl.controller.ViewFlightControl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewFlightControl</servlet-name>
		<url-pattern>/ViewFlightControl</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BusSearch</display-name>
		<servlet-name>BusSearch</servlet-name>
		<servlet-class>com.hcl.servlets.BusSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BusSearch</servlet-name>
		<url-pattern>/BusSearch</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>loginServ</display-name>
		<servlet-name>loginServ</servlet-name>
		<servlet-class>com.hcl.servlets.loginServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServ</servlet-name>
		<url-pattern>/loginServ</url-pattern>
	</servlet-mapping>


	<servlet>
		<description></description>
		<display-name>ForgetPasswordController</display-name>
		<servlet-name>ForgetPasswordController</servlet-name>
		<servlet-class>com.hcl.forgetpassword.ForgetPasswordController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgetPasswordController</servlet-name>
		<url-pattern>/ForgetPasswordController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>logoutServ</display-name>
		<servlet-name>logoutServ</servlet-name>
		<servlet-class>com.hcl.servlets.logoutServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutServ</servlet-name>
		<url-pattern>/logoutServ</url-pattern>
	</servlet-mapping>

	<filter>
		<display-name>UserLoginFilter</display-name>
		<filter-name>UserLoginFilter</filter-name>
		<filter-class>AdminServlet.UserLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UserLoginFilter</filter-name>
		<url-pattern>/loginServ</url-pattern>
	</filter-mapping>



</web-app>